# Node & Vite (Frontend)
node_modules/
dist/

# Python & Django (Backend)
*.pyc
__pycache__/
C:\Main IELTS\24-05-2025\ielts-website\ielts_coaching\core\__pycache__
C:\Main IELTS\24-05-2025\ielts-website\ielts_coaching\ielts_coaching\__pycache__
*.sqlite3
env/
venv/
*.env
recorded_classes/
# System files
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
